@font-face {
  font-family: "iconfont"; /* Project id 4885089 */
  src: url('iconfont.woff2?t=1746194759503') format('woff2'),
       url('iconfont.woff?t=1746194759503') format('woff'),
       url('iconfont.ttf?t=1746194759503') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jurassic_HorFensan-align:before {
  content: "\e706";
}

.icon-jurassic_horizalign-center:before {
  content: "\e707";
}

.icon-jurassic_VerFensan-align:before {
  content: "\e70f";
}

.icon-jurassic_verticalalign-bottom:before {
  content: "\e710";
}

.icon-jurassic_verticalalign-top:before {
  content: "\e711";
}

.icon-beifen:before {
  content: "\e68e";
}

.icon-xiaohongshubiaoti:before {
  content: "\e617";
}

.icon-cansaineirong_gaoliang_48:before {
  content: "\e7d3";
}

.icon-dianji:before {
  content: "\e630";
}

.icon-a-copyfubenfuzhi:before {
  content: "\e6cc";
}

.icon-fuzhi:before {
  content: "\e632";
}

.icon-daoru:before {
  content: "\e631";
}

.icon-dituweizhixinxi_chahao:before {
  content: "\e600";
}

.icon-a-addmusic:before {
  content: "\e8be";
}

.icon-lanzilajitongshanchu:before {
  content: "\e61a";
}

.icon-zengjiatianjiajiajian:before {
  content: "\e61d";
}

.icon-xinjiantianjia:before {
  content: "\e677";
}

.icon-a-080_shezhi:before {
  content: "\e7bc";
}

.icon-zidingyi:before {
  content: "\e629";
}

.icon-kongjiedian:before {
  content: "\e62b";
}

.icon-ocr:before {
  content: "\e7d2";
}

.icon-tuxiang:before {
  content: "\e704";
}

.icon-githublogo:before {
  content: "\e607";
}

.icon-dixiaguanxianguanli:before {
  content: "\e825";
}

